#searchLabel {
  font-size: 24px;
}

.icon {
  width: 75px
}

#uvIndex {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.favorable {
  background-color: green;
}

.moderate {
  background-color: yellow;
}

.severe {
  background-color: red;
}