#searchArea {
  width: 20%;
}

#searchLabel {
  font-size: 24px;
}

.currentIcon {
  width: 75px;
}

.futureIcon {
  width: 40px;
}

.futureStats {
  font-size: 12px;
}

#cities {
  padding-left: 12px;
  padding-right: 12px;
}

#uvIndex {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

.favorable {
  background-color: green;
  color: white;
}

.moderate {
  background-color: yellow;
  color: black;
}

.severe {
  background-color: red;
  color: white;
}

.forecast {
  width: 20%;
}